<div class="dayContainer">
  <div class="dayNameBox">
    <span>{{ day.date }}</span>
  </div>
  <div class="hoursContainer">
    <div class="hourBox">
      @for(hour of hours; track hour){
      <div class="hourBox">
        @for(time of hour.mm; track time){
        <div class="timeBox"></div>
        }
      </div>
      }
    </div>
    @for(term of day.teacherTerms; track term){
    <div
      [ngClass]="'freeTerm'"
      class="term"
      [style.height.px]="term.diffTime"
      [style.top.px]="term.posTop"
      (click)="detailTerm(term.id)"
    >
      <p>
        {{ term.start_date.split(" ")[1] }} - {{ term.end_date.split(" ")[1] }}
      </p>
    </div>

    } @for(term of day.studentTerms; track term){ @if(term.class!.confirmed==0){
    <div
      [ngClass]="'noReservation'"
      class="term"
      [style.height.px]="term.diffTime"
      [style.top.px]="term.posTop"
      (click)="noConfirmClass(term.id)"
    >
      <p>
        {{ term.start_date.split(" ")[1] }} - {{ term.end_date.split(" ")[1] }}
      </p>
      <p>{{term.class!.lesson.subject.name }}</p>
    </div>
    }@else{
          <div
      [ngClass]="'reservation'"
      class="term"
      [style.height.px]="term.diffTime"
      [style.top.px]="term.posTop"
      (click)="ConfirmClass(term.id)"
    >
      <p>
        {{ term.start_date.split(" ")[1] }} - {{ term.end_date.split(" ")[1] }}
      </p>
      <p>{{term.class!.lesson.subject.name }}</p>
    </div>
    } }
  </div>
</div>
@if(isVisableTermDetail){
<div class="modalPage">
  <div class="detailTerm">
    <app-reservation-term [idTerm]="idTerm" (closeModal)="closeModal($event)" />
  </div>
</div>
}
@if(isVisableNoConfirmDetail){
<div class="modalPage">
  <div class="detailTerm">
    <app-detail-terms [idTerm]="idTerm" (closeModal)="closeModal($event)" />
  </div>
</div>
}

