@import '../../../styles.scss';
section{
    background-color: $bgblueColorPrimary;
    min-height: 100svh;

    .teacherListContainer{
        margin-top: 70px;
        padding: 50px 0px;
        width: 100%;
        display: flex;
        justify-content: center;

        app-teachers-list{
            width: 75%;
        }
    }
}
@media only screen and (max-width: 900px) {

}