@import '../../../styles.scss';
section{
    background-color: $bgblueColorPrimary;
    min-height: 100svh;
    .settingContainer{
        margin-top: 70px;
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        app-user-setting{
            width: 75%;
        }
    }
}