@import "../../../../styles.scss";

.detailContainer {
  width: 90%;
  background-color: $bgModal;
  border-radius: $radiusMid;
  padding: 35px 5%;
  box-shadow: $modalShadow;
  .headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .detailTerm{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .dateTerm{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
  }
  .deleteContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
}
